numpy==2.2.6
scipy==1.15.3
opencv-python==4.11.0.86
pillow==11.3.0
ultralytics==8.3.228
supervision==0.27.0
gradio==5.49.1
huggingface-hub==0.36.0
transformers==4.57.1
pandas==2.2.3
pytesseract==0.3.13
requests==2.32.5
httpx[socks]==0.28.1
umap-learn==0.5.12
